<h1>Importing CSV File</h1>

In [1]:
import pandas as pd
import sqlite3
import ast
import numpy as np

In [2]:
shots_df = pd.read_csv('NBA_2024_Shots.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
con = sqlite3.connect('NBA_2024_ShotSelections.db')
cur = con.cursor()

In [4]:
shots_df.to_sql('shots', con, if_exists='replace', index=False)

218701

In [5]:
shots_df.head()

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,HOME_TEAM,AWAY_TEAM,EVENT_TYPE,SHOT_MADE,ACTION_TYPE,SHOT_TYPE,BASIC_ZONE,ZONE_NAME,ZONE_ABB,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT
0,2024,2023-24,1610612764,Washington Wizards,1629673,Jordan Poole,G,SG,11-03-2023,22300003,MIA,WAS,Missed Shot,False,Driving Floating Jump Shot,2PT Field Goal,In The Paint (Non-RA),Center,C,8-16 ft.,-0.4,17.45,12,1,11,1
1,2024,2023-24,1610612764,Washington Wizards,1630166,Deni Avdija,F,SF,11-03-2023,22300003,MIA,WAS,Made Shot,True,Jump Shot,3PT Field Goal,Above the Break 3,Center,C,24+ ft.,1.5,30.55,25,1,10,26
2,2024,2023-24,1610612764,Washington Wizards,1626145,Tyus Jones,G,PG,11-03-2023,22300003,MIA,WAS,Made Shot,True,Driving Layup Shot,2PT Field Goal,Restricted Area,Center,C,Less Than 8 ft.,-3.3,6.55,3,1,9,46
3,2024,2023-24,1610612764,Washington Wizards,1629673,Jordan Poole,G,SG,11-03-2023,22300003,MIA,WAS,Made Shot,True,Running Finger Roll Layup Shot,2PT Field Goal,Restricted Area,Center,C,Less Than 8 ft.,-1.0,5.85,1,1,8,30
4,2024,2023-24,1610612764,Washington Wizards,1626145,Tyus Jones,G,PG,11-03-2023,22300003,MIA,WAS,Made Shot,True,Cutting Layup Shot,2PT Field Goal,Restricted Area,Center,C,Less Than 8 ft.,-0.0,6.25,1,1,8,8

In [6]:
shots_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218701 entries, 0 to 218700
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEASON_1        218701 non-null  int64
 1   SEASON_2        218701 non-null  object
 2   TEAM_ID         218701 non-null  int64
 3   TEAM_NAME       218701 non-null  object
 4   PLAYER_ID       218701 non-null  int64
 5   PLAYER_NAME     218701 non-null  object
 6   POSITION_GROUP  217437 non-null  object
 7   POSITION        217437 non-null  object
 8   GAME_DATE       218701 non-null  object
 9   GAME_ID         218701 non-null  int64
 10  HOME_TEAM       218701 non-null  object
 11  AWAY_TEAM       218701 non-null  object
 12  EVENT_TYPE      218701 non-null  object
 13  SHOT_MADE       218701 non-null  bool
 14  ACTION_TYPE     218701 non-null  object
 15  SHOT_TYPE       218701 non-null  object
 16  BASIC_ZONE      218701 non-null  object
 17  ZONE_NAME       218701 non-null  object
 18  ZONE_ABB        218701 non-null  object
 19  ZONE_RANGE      218701 non-null  object
 20  LOC_X           218701 non-null  float64
 21  LOC_Y           218701 non-null  float64
 22  SHOT_DISTANCE   218701 non-null  int64
 23  QUARTER         218701 non-null  int64
 24  MINS_LEFT       218701 non-null  int64
 25  SECS_LEFT       218701 non-null  int64
dtypes: bool(1), float64(2), int64(8), object(15)
memory usage: 41.9+ MB

<h1>QUERYING THROUGH LUKA DONCIC</h1>

In [7]:
luka = "SELECT * FROM shots WHERE PLAYER_NAME = 'Luka Doncic'"
luka_results = pd.read_sql_query(luka, con)

luka_results.head()

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,HOME_TEAM,AWAY_TEAM,EVENT_TYPE,SHOT_MADE,ACTION_TYPE,SHOT_TYPE,BASIC_ZONE,ZONE_NAME,ZONE_ABB,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT
0,2024,2023-24,1610612742,Dallas Mavericks,1629029,Luka Doncic,G,PG,11-03-2023,22300006,DEN,DAL,Made Shot,1,Driving Finger Roll Layup Shot,2PT Field Goal,Restricted Area,Center,C,Less Than 8 ft.,-1.6,7.85,3,1,10,39
1,2024,2023-24,1610612742,Dallas Mavericks,1629029,Luka Doncic,G,PG,11-03-2023,22300006,DEN,DAL,Missed Shot,0,Step Back Jump shot,3PT Field Goal,Above the Break 3,Left Side Center,LC,24+ ft.,16.9,24.05,25,1,8,50
2,2024,2023-24,1610612742,Dallas Mavericks,1629029,Luka Doncic,G,PG,11-03-2023,22300006,DEN,DAL,Made Shot,1,Jump Shot,3PT Field Goal,Above the Break 3,Left Side Center,LC,24+ ft.,8.6,30.35,26,1,7,30
3,2024,2023-24,1610612742,Dallas Mavericks,1629029,Luka Doncic,G,PG,11-03-2023,22300006,DEN,DAL,Missed Shot,0,Layup Shot,2PT Field Goal,Restricted Area,Center,C,Less Than 8 ft.,-3.2,6.35,3,2,11,20
4,2024,2023-24,1610612742,Dallas Mavericks,1629029,Luka Doncic,G,PG,11-03-2023,22300006,DEN,DAL,Missed Shot,0,Driving Layup Shot,2PT Field Goal,In The Paint (Non-RA),Center,C,Less Than 8 ft.,3.8,7.25,4,2,9,55

<h1>Finding Shot Percentage</h1>

In [8]:
shots_made_query = "SELECT COUNT(SHOT_MADE) AS made FROM shots WHERE PLAYER_NAME = 'Luka Doncic' and SHOT_MADE = true"
shots_total_query = "SELECT COUNT(SHOT_MADE) As total FROM shots WHERE PLAYER_NAME = 'Luka Doncic'"

shots_total_results = pd.read_sql_query(shots_total_query, con)
shots_made_results = pd.read_sql_query(shots_made_query, con)

shots_made = shots_made_results['made'].iloc[0]
shots_total = shots_total_results['total'].iloc[0]

print('shots_total:', shots_total)
print('shots_made:', shots_made)

shots_total: 1652
shots_made: 804

In [9]:
if shots_total > 0:
    shot_percentage = shots_made / shots_total
else:
    print('Luka didnt take shot')

print('shot_percentage:', shot_percentage)

shot_percentage: 0.48668280871670705

<h1>Grouping by Zone</h1>

In [10]:
shot_zone_query = "SELECT BASIC_ZONE, ZONE_NAME, ZONE_RANGE, COUNT(*) AS SHOT_COUNT, \
SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) AS SHOT_MADE, \
SUM(CASE WHEN SHOT_MADE = false THEN 1 ELSE 0 END) AS SHOT_MISSED, \
CASE WHEN COUNT(*) = 0 THEN 0 ELSE (SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) END AS SHOT_PERCENTAGE \
FROM shots WHERE PLAYER_NAME = 'Luka Doncic' GROUP BY BASIC_ZONE"

shot_zone_results = pd.read_sql_query(shot_zone_query, con)
shot_zone_results

,BASIC_ZONE,ZONE_NAME,ZONE_RANGE,SHOT_COUNT,SHOT_MADE,SHOT_MISSED,SHOT_PERCENTAGE
0,Above the Break 3,Left Side Center,24+ ft.,713,277,436,38.849930
1,Backcourt,Back Court,Back Court Shot,5,0,5,0.000000
2,In The Paint (Non-RA),Center,Less Than 8 ft.,338,185,153,54.733728
3,Left Corner 3,Left Side,24+ ft.,15,4,11,26.666667
4,Mid-Range,Right Side Center,16-24 ft.,304,133,171,43.750000
5,Restricted Area,Center,Less Than 8 ft.,266,202,64,75.939850
6,Right Corner 3,Right Side,24+ ft.,11,3,8,27.272727

<h1>Luka VS Opposing Team</h1>

In [11]:
shot_versus_query = "SELECT HOME_TEAM, AWAY_TEAM, GAME_DATE, COUNT(*) AS SHOT_COUNT, \
SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) AS SHOT_MADE, \
SUM(CASE WHEN SHOT_MADE = false THEN 1 ELSE 0 END) AS SHOT_MISSED, \
CASE WHEN COUNT(*) = 0 THEN 0 ELSE (SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) END AS SHOT_PERCENTAGE \
FROM shots WHERE PLAYER_NAME = 'Luka Doncic' GROUP BY GAME_DATE ORDER BY HOME_TEAM DESC"

shot_versus_results = pd.read_sql_query(shot_versus_query, con)
shot_versus_results

,HOME_TEAM,AWAY_TEAM,GAME_DATE,SHOT_COUNT,SHOT_MADE,SHOT_MISSED,SHOT_PERCENTAGE
0,WAS,DAL,11-15-2023,18,7,11,38.888889
1,UTA,DAL,03-25-2024,24,10,14,41.666667
2,UTA,DAL,01-01-2024,20,6,14,30.000000
3,TOR,DAL,02-28-2024,23,11,12,47.826087
4,SAS,DAL,10-25-2023,25,13,12,52.000000
5,SAS,DAL,03-19-2024,27,6,21,22.222222
6,SAC,DAL,03-29-2024,14,6,8,42.857143
7,SAC,DAL,03-26-2024,18,10,8,55.555556
8,POR,DAL,12-16-2023,28,15,13,53.571429
9,POR,DAL,12-08-2023,28,11,17,39.285714
10,PHX,DAL,12-25-2023,25,15,10,60.000000
11,PHI,DAL,02-05-2024,15,6,9,40.000000
12,ORL,DAL,11-06-2023,17,9,8,52.941176
13,NYK,DAL,02-08-2024,24,13,11,54.166667
14,NOP,DAL,11-14-2023,16,5,11,31.250000
15,NOP,DAL,11-12-2023,18,11,7,61.111111
16,MIL,DAL,11-18-2023,26,15,11,57.692308
17,MIA,DAL,04-10-2024,23,9,14,39.130435
18,MEM,DAL,12-11-2023,21,9,12,42.857143
19,MEM,DAL,10-30-2023,22,11,11,50.000000
20,LAL,DAL,11-22-2023,26,10,16,38.461538
21,LAL,DAL,01-17-2024,24,12,12,50.000000
22,LAC,DAL,11-25-2023,27,12,15,44.444444
23,IND,DAL,02-25-2024,21,10,11,47.619048
24,HOU,DAL,03-31-2024,30,18,12,60.000000
25,GSW,DAL,12-30-2023,29,14,15,48.275862
26,GSW,DAL,04-02-2024,22,11,11,50.000000
27,DET,DAL,03-09-2024,24,13,11,54.166667
28,DEN,DAL,12-18-2023,24,13,11,54.166667
29,DEN,DAL,11-03-2023,24,11,13,45.833333
30,DAL,CLE,12-27-2023,29,14,15,48.275862
31,DAL,SAS,12-23-2023,27,13,14,48.148148
32,DAL,LAC,12-20-2023,25,9,16,36.000000
33,DAL,MIN,12-14-2023,27,15,12,55.555556
34,DAL,LAL,12-12-2023,28,12,16,42.857143
35,DAL,UTA,12-06-2023,25,14,11,56.000000
36,DAL,OKC,12-02-2023,22,11,11,50.000000
37,DAL,HOU,11-28-2023,29,15,14,51.724138
38,DAL,SAC,11-19-2023,19,7,12,36.842105
39,DAL,LAC,11-10-2023,21,17,4,80.952381
40,DAL,TOR,11-08-2023,26,11,15,42.307692
41,DAL,CHA,11-05-2023,19,8,11,42.105263
42,DAL,CHI,11-01-2023,16,5,11,31.250000
43,DAL,BKN,10-27-2023,25,16,9,64.000000
44,DAL,HOU,04-07-2024,21,12,9,57.142857
45,DAL,ATL,04-04-2024,25,8,17,32.000000
46,DAL,UTA,03-21-2024,23,11,12,47.826087
47,DAL,DEN,03-17-2024,27,12,15,44.444444
48,DAL,GSW,03-13-2024,18,7,11,38.888889
49,DAL,MIA,03-07-2024,24,12,12,50.000000
50,DAL,IND,03-05-2024,30,15,15,50.000000
51,DAL,PHI,03-03-2024,27,14,13,51.851852
52,DAL,PHX,02-22-2024,27,14,13,51.851852
53,DAL,SAS,02-14-2024,20,11,9,55.000000
54,DAL,WAS,02-12-2024,16,8,8,50.000000
55,DAL,OKC,02-10-2024,14,9,5,64.285714
56,DAL,MIL,02-03-2024,26,13,13,50.000000
57,DAL,ORL,01-29-2024,23,12,11,52.173913
58,DAL,SAC,01-27-2024,26,9,17,34.615385
59,DAL,PHX,01-24-2024,24,11,13,45.833333
60,DAL,BOS,01-22-2024,30,12,18,40.000000
61,DAL,MEM,01-09-2024,21,9,12,42.857143
62,DAL,MIN,01-07-2024,26,12,14,46.153846
63,DAL,POR,01-03-2024,21,13,8,61.904762
64,CLE,DAL,02-27-2024,29,17,12,58.620690
65,CHI,DAL,03-11-2024,23,9,14,39.130435
66,CHA,DAL,04-09-2024,25,13,12,52.000000
67,BOS,DAL,03-01-2024,25,14,11,56.000000
68,BKN,DAL,02-06-2024,27,13,14,48.148148
69,ATL,DAL,01-26-2024,33,25,8,75.757576

<h1>Luka Favorite Action Type</h1>

In [12]:
shot_action_query = "SELECT ACTION_TYPE, COUNT(*) AS SHOT_COUNT, \
SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) AS SHOT_MADE, \
SUM(CASE WHEN SHOT_MADE = false THEN 1 ELSE 0 END) AS SHOT_MISSED, \
CASE WHEN COUNT(*) = 0 THEN 0 ELSE (SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) END AS SHOT_PERCENTAGE \
FROM shots WHERE PLAYER_NAME = 'Luka Doncic' GROUP BY ACTION_TYPE ORDER BY SHOT_COUNT DESC"

shot_action_results = pd.read_sql_query(shot_action_query, con)
shot_action_results

,ACTION_TYPE,SHOT_COUNT,SHOT_MADE,SHOT_MISSED,SHOT_PERCENTAGE
0,Step Back Jump shot,531,226,305,42.561205
1,Jump Shot,176,60,116,34.090909
2,Driving Layup Shot,155,116,39,74.838710
3,Pullup Jump shot,141,53,88,37.588652
4,Driving Floating Jump Shot,112,62,50,55.357143
5,Turnaround Fadeaway shot,95,40,55,42.105263
6,Driving Floating Bank Jump Shot,77,40,37,51.948052
7,Fadeaway Jump Shot,70,25,45,35.714286
8,Running Pull-Up Jump Shot,39,11,28,28.205128
9,Driving Finger Roll Layup Shot,36,30,6,83.333333
10,Running Layup Shot,31,26,5,83.870968
11,Floating Jump shot,25,13,12,52.000000
12,Turnaround Jump Shot,24,10,14,41.666667
13,Putback Layup Shot,16,10,6,62.500000
14,Running Jump Shot,15,8,7,53.333333
15,Fadeaway Bank shot,14,11,3,78.571429
16,Cutting Layup Shot,14,8,6,57.142857
17,Running Finger Roll Layup Shot,12,9,3,75.000000
18,Layup Shot,12,9,3,75.000000
19,Driving Reverse Layup Shot,10,7,3,70.000000
20,Step Back Bank Jump Shot,8,7,1,87.500000
21,Jump Bank Shot,7,5,2,71.428571
22,Tip Layup Shot,6,1,5,16.666667
23,Turnaround Hook Shot,5,3,2,60.000000
24,Turnaround Bank shot,4,3,1,75.000000
25,Hook Shot,3,1,2,33.333333
26,Finger Roll Layup Shot,3,3,0,100.000000
27,Driving Hook Shot,3,2,1,66.666667
28,Turnaround Fadeaway Bank Jump Shot,2,1,1,50.000000
29,Turnaround Bank Hook Shot,2,0,2,0.000000
30,Running Dunk Shot,1,1,0,100.000000
31,Driving Dunk Shot,1,1,0,100.000000
32,Driving Bank Hook Shot,1,1,0,100.000000
33,Cutting Finger Roll Layup Shot,1,1,0,100.000000

<h1>Best Step Back Shooter</h1>

In [13]:
step_back_query = "SELECT ACTION_TYPE, PLAYER_NAME, COUNT(*) AS SHOT_COUNT, \
SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) AS SHOT_MADE, \
SUM(CASE WHEN SHOT_MADE = false THEN 1 ELSE 0 END) AS SHOT_MISSED, \
CASE WHEN COUNT(*) = 0 THEN 0 ELSE (SUM(CASE WHEN SHOT_MADE = true THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) END AS SHOT_PERCENTAGE \
FROM shots WHERE ACTION_TYPE = 'Step Back Jump shot' GROUP BY PLAYER_NAME ORDER BY SHOT_COUNT DESC"

step_back_result = pd.read_sql_query(step_back_query, con)
step_back_result.head(10)

,ACTION_TYPE,PLAYER_NAME,SHOT_COUNT,SHOT_MADE,SHOT_MISSED,SHOT_PERCENTAGE
0,Step Back Jump shot,Luka Doncic,531,226,305,42.561205
1,Step Back Jump shot,Shai Gilgeous-Alexander,260,119,141,45.769231
2,Step Back Jump shot,James Harden,241,98,143,40.663900
3,Step Back Jump shot,Stephen Curry,227,95,132,41.850220
4,Step Back Jump shot,Jalen Green,226,89,137,39.380531
5,Step Back Jump shot,Terry Rozier,206,92,114,44.660194
6,Step Back Jump shot,Jayson Tatum,194,68,126,35.051546
7,Step Back Jump shot,Damian Lillard,189,77,112,40.740741
8,Step Back Jump shot,Tyrese Maxey,180,73,107,40.555556
9,Step Back Jump shot,Tyrese Haliburton,178,63,115,35.393258